<!DOCTYPE html>
<html>
<head>
	<title><%- JSON.stringify(title) %></title>
	<script type="text/javascript">
		function doinit(){
			var element = document.getElementById('myReport');
			var report = powerbi.embed(element);
			console.log("initDOne")
		}
	</script>
</head>
<body>

<button onclick="doinit()">Press me to init</button>

<div id="myReport"
	powerbi-type="report"
    powerbi-embed-url="https://embedded.powerbi.com/appTokenReportEmbed?reportId=ce37eec6-1cfd-45fd-9323-1e505223c2fa" 
    powerbi-access-token=<%- JSON.stringify(jwt) %> style="height: 600px;"
</div>

<script src="powerbi.min.js"></script>
<script type="text/javascript">
   var reportDiv = document.getElementById("myReport");
   var title =  <%- JSON.stringify(title) %>;
   var jwtValue = <%- JSON.stringify(jwt) %>;
   console.log(jwtValue);
   reportDiv.setAttribute("powerbi-access-token",jwtValue);
   console.log(jwtValue);
</script>
</body>
</html>